*{
    margin:0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #fff;
}
/* header */
header nav{
    width: 100%;
    background-color: #333;
    color: #fff;
    overflow: hidden;
}
h1{
    float: left;
    padding: 15px 0 15px 20px;
}
header nav ul{
    float:right;
}
header nav ul li{
    display: inline-block;
    width: 100px;
    list-style: none;
}
header nav ul li a:hover{
    color: #f7c08a;
}
header nav ul li >a{
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 20px 0;
}


.headr-content{
    width: 100%;
    height: 600px;
    background-image:url("../img/01.jpg");
    background-size: cover;
    color: #fff;
    text-align: center;
    overflow: hidden;
}
.headr-content h2{
    margin-top: 200px;
    font-size: 60px;
}

.headr-content h2 span{
    color:  #f7c08a;
    margin-left: 20px;
}
.headr-content p{
    margin-top: 20px;
    font-size: 20px;
}
.headr-content a{
    display: inline-block;
    font-size: 20px;
    padding: 15px;
    background-color: #333;
    margin-top: 40px;
}
.headr-content a:hover{
    background-color:  #f7c08a;
}
/* section-one */
.section-one{
    width: 100%;
    height: 400px;
    overflow: hidden;
}
.section-one-left{
    float: left;
    width: 50%;
    height: 100%;
}
.section-one-left img{
    width: 100%;
    height: 100%;
}
.section-one-right{
    float: right;
    width: 50%;
    height: 100%;
    padding: 10px;
    text-align: center;
    background-color: #444;
    color: #fff;
}
.section-one-right h3{
    margin-top: 100px;
    font-size: 30px;
}
.section-one-right h3 span{
    color:  #f7c08a;
    margin-right: 20px;
}
.section-one-right p{
    margin-top: 20px;
}
.section-one-right a{
    display: inline-block;
    font-size: 18px;
    padding: 13px 20px;
    background-color: #fff;
    color: black;
    margin-top: 30px;
}
.section-one-right a:hover{
    background-color:  #f7c08a;
    color: #fff;
}
/* section-two */
.section-two{
    width: 100%;
    overflow: hidden;
}
.section-two figure{
    float: left;
    width: 33.3%;
    padding: 50px 0;
    text-align: center;
}
.section-two figure img{
    width: 120px;
    height: 120px;
}
.section-two figcaption{
    margin-top: 20px;
}

/* footer */
footer{
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 40px;
}
